<div class="container">
  <p>Ajoute des Mots</p>

          <label for="mot arabe">Mot arabe</label><br>
          <input type="text" id="mot arabe" name="mot arabe" formControlName="ajoute un mot" ><br>

          <label for="Traduction">Traduction bamana</label><br>
          <input type="text" id="traduction" name="traduction" formControlName="ajoute une traduction bamana" ><br>
          <label for="audio">Audio</label><br>
          <input type="file" id="audio" name="audio" formControlName="audio" >
   </div><br>
   <div class="btn">
   <button type="submit" ajoutTraduction.valid >Ajouter</button><br>
  </div>
