<div class="container" name="arrow-back-circle-outline">
  <p>Ajoute Phrase</p>

          <label for="phrase arabe">Phrase arabe</label><br>
          <input type="text" id="phrase arabe" name="phrase arabe" formControlName="ajoute un phrase" ><br>

          <label for="Traduction">Traduction bamana</label><br>
          <input type="text" id="traduction" name="traduction" formControlName="ajoute une traduction bamana" ><br>
          <label for="audio">Audio</label><br>
          <input type="file" id="audio" name="audio" formControlName="audio" >
   </div><br>
   <div class="btn">
   <button type="submit" ajoutTraduction.valid ><B>Ajouter</B></button><br>
  </div>
